body{
  display: flex;
  margin: 0;
  padding: 2rem 0;
  position: 0;
  background-image: url(https://media1.tenor.com/m/vamoG6jjbl4AAAAd/space-stars.gif);
  text-align: center;
}
body::before,
body::after{
  content: '';
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: navy;
  z-index: -1;
}
body::before{
  left: 0;
  clip-path: polygon(0% 0%, 72% 0%, 58% 8%, 72% 13%, 57% 19%, 71% 23%, 57% 29%, 71% 34%, 57% 41%, 70% 46%, 57% 50%, 70% 56%, 56% 61%, 68% 69%, 55% 73%, 68% 77%, 54% 83%, 68% 88%, 55% 95%, 67% 100%, 0% 100%);
}
body::after{
  right: 0;
  clip-path: polygon(100% 0%, 32% 0%, 15% 8%, 32% 11%, 14% 16%, 31% 20%, 13% 26%, 30% 30%, 13% 36%, 31% 40%, 13% 45%, 30% 50%, 12% 53%, 29% 58%, 12% 64%, 29% 69%, 11% 72%, 28% 78%, 13% 81%, 27% 87%, 13% 94%, 26% 100%, 100% 100%);
}

h1{
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  font-weight: bold;
  color: wheat;
}
p{
  font-family: "Rock Salt", sans-serif;
  color: wheat;
}

@media (max-width: 928px){
  body::before,
  body::after{
    display: none;
  }
}
img{
  max-width: 50%;
}